#scorenum {
	font-size: 150%;
	text-align:center;
}

.nobs {
	font-size:125% !important; 
	text-align:center !important;
	font-color:white !important;
	
}

.wrapper {
	color:white !important;
}

.submit_button {
	/*background-color: #0D47A1 !important;*/
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	color:white;
	padding:10px !important;
	border-radius:3px;
	border:1px solid #fff !important;
	margin:auto;
	font-size:20px;
	text-align:center;
	position:absolute;
	top:65%;
	left:20%;

}
.submit_button2 {
	/*background-color: #0D47A1 !important;*/
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	color:white;
	padding:10px !important;
	border-radius:3px;
	border:1px solid #fff !important;
	margin:auto;
	font-size:20px;
	text-align:center;
	position:absolute;
	top:65%;
	left:35%;

}

.shiphand{
	text-align:center;
	font-size:110%;
}
html {
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/BullShyp_Background.jpg') no-repeat center center fixed !important;

	background-size:cover;
}

#fragile{
	width:24px;
	height:24px;
	margin-right:15px;
	
}

.details-form{
	text-align:center;
	padding-top:20%;
	font-size:28px;
}