#scorenum {
	font-size: 150%;
	text-align:center;
}

.nobs {
	font-size:125% !important; 
	text-align:center !important;
	font-color:#616161 !important;
	padding-top:0;
	margin-top:0;
	
}

.wrapper {
	color:#616161 !important;
}

.submit_button {
	background-color: white!important;
	color:#616161;
	padding:10px !important;
	border-radius:3px;
	border:1px solid #616161;
	margin:auto;
	font-size:20px;
	text-align:center;
	position:absolute;
	top:75%;
	left:20%;

}
.submit_button2 {
	background-color: white !important;
	color:#616161;
	padding:10px !important;
	border-radius:3px;
	border:1px solid #616161 !important;
	margin:auto;
	font-size:20px;
	text-align:center;
	position:absolute;
	top:75%;
	left:35%;

}

.shiphand{
	text-align:center;
	font-size:110%;
}
html {
}

#fragile{
	width:24px;
	height:24px;
	margin-right:15px;
	
}

.details-form{
	text-align:center;
	padding-top:20%;
	font-size:28px;
}

.logo{
	width:35%;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}